div:hover {
    background: red;
}

a {
    background: blue;
}

.several, .selectors:hover, .shared {
    -webkit-transition: opacity 3s 2s;
    -moz-transition: opacity 3s 2s;
    transition: opacity 3s 2s;
}

@media (max-width: 600px) {
    .simple {
        display: none;
    }

    .simple:hover {
        display: block;
    }
}
